.header {
    display: flex;
    flex-direction: row;
}

.logo {
    padding: 10px;
}
.MainLogo {
    height: 10vmin;
}
.headerLine {
    background: #050101;
    width: 200vmin;
    height: 2px;
}
.pickBase {
    display: flex;
    justify-content: space-between;
}
.baseUnit {
    margin-left: 10vmin;
    margin-right: 10vmin;
}